$base-font-family: "kozuka-gothic-pr6n", sans-serif;
$font-zedou: "zedou", sans-serif;
$base-maru-gothic: 'Zen Maru Gothic', sans-serif;

$breakpoint-pc: 1920px;
$breakpoint-lg: 769px;
$breakpoint-md: 768px;

$clr-base: #fff;
$clr-txt-base: #333333;
$clr-base-bg: #fdfdfd;
$clr-base-font: #212121;
$clr-base-txt: #000000;
$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-cubic-out: cubic-bezier(0.915, 0.03, 0.91, 0.35);
